@import url(https://fonts.googleapis.com/css?family=Nunito);
.nav-collapse .collapse-item .active,
.nav-collapse .collapse-item .collapse-head.active {
  font-weight: 800;
}
.nav-collapse .collapse-item .active a,
.nav-collapse .collapse-item .collapse-head.active a {
  font-weight: 800 !important;
}form select.select_readonly {
  pointer-events: none;
}
