:root {
    --vz-input-disabled-bg: #eff2f7;
    --vz-body-color: #ced4da;
    --vz-input-border: #ced4da;
    --vz-input-bg: #ffffff;
    --vz-border-color: #32383e;
    --table-bg: #F9FAFB;
    --title-color: #1C274D;
    --bg-white: #fff;
    --bg-white-2: #fafafa;
    /*--border-color: #D0D5DD;*/
    --border-color: #EAECF0;
    /*--button-bg: #009A75;*/
    --button-bg: #5bb318;
    --button-color: #475467;
}

.dataBtn {
    border-color: var(--border-color) !important;
    background-color: var(--bg-white) !important;
    color: var(--button-color);
}

.dataBtn:hover {
    background-color: var(--border-color) !important;
}

.dataTables_filter {
    position: relative;
    padding-right: 16px !important;
}

.dataTables_wrapper .btn-group {
    margin-bottom: 6px;
    padding-left: 16px !important;
}

.dataTables_wrapper .btn-group .btn-secondary {
    height: 2.3rem;
}

.dataTables_filter {
    width: 65%;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.dataTables_filter input[type=search] {
    width: 17rem !important;
    height: 2.3rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    text-indent: 30px;
    background: var(--bg-white-2) no-repeat 4% 48%;
}

#myTable_filter label {
    color: var(--bg-white);
    position: relative;
    display: flex;
}

.add-new-button {
    height: 2.3rem;
    background-color: var(--button-bg);
    margin-left: 12px;
    color: var(--bg-white-2);
}

.add-new-button:hover {
    background-color: var(--button-bg) !important;
    opacity: .8 !important;
    color: var(--bg-white-2);
}

.add-new-button .icon-svg path {
    stroke: var(--bg-white);
}

.form-check-input:checked {
    background-color: var(--button-bg);
    border-color: var(--button-bg);
}

.form-check-input.form-check-danger:checked {
    background-color: #e67575;
    border-color: #e67575;
}

.form-check-input.form-check-danger {
    border-color: #e67575;
}

.offcanvas-title {
    color: var(--title-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
    font-weight: 500;
    border-bottom-color: var(--button-bg);
}

.nav-link {
    color: var(--title-color);
    font-size: 16px;
    display: block;
}

.dataBtn {
    border-color: var(--border-color) !important;
    background-color: var(--bg-white) !important;
    color: var(--button-color);
}

.row-selection-button::after {
    display: none;
}

.dataBtn:hover {
    color: var(--button-color) !important;
}

.action-btn .icon-svg {
    height: 18px;
}

.borders {
    border-radius: 0 8px 8px 0 !important;
}

.right_r {
    border-radius: 8px !important;
}

.dashboard {
    color: var(--title-color);
    font-family: Mulish, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top-title {
    color: #6E7796;
    font-family: Mulish, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.total_number {
    color: var(--title-color);
    font-family: Mulish, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cm_row {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    gap: 15px;
}

.card {
    border-color: #E4E6EE;
}

.table_card {
    padding: 8px 0 6px 0 !important;
}

.statis {
    color: var(--title-color);
    font-family: Mulish, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dataTables_paginate {
    height: 50px;
    width: 50%;
    float: right;
    margin-top: -50px !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dataTables_info {
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px !important;
}

.disabled > .page-link,
.page-link {
    color: var(--bs-pagination-disabled-color);
    pointer-events: none;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background: var(--bg-white);
    margin-right: 10px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.active > .page-link,
.page-link {
    z-index: 3;
    color: #344054;
    background-color: var(--bg-white);
    border-color: var(--border-color);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
}

.active > .page-link,
.page-link.active {
    background-color: var(--button-bg);
    color: var(--bg-white);
}

.dataTable {
    border: none !important;
}

.dataTable thead tr th,
.dataTable tbody tr td {
    border: 1px solid var(--border-color);
    vertical-align: middle !important;
    color: var(--title-color);
}

.dataTable thead tr th {
    background-color: var(--table-bg);
    border-bottom: none !important;
}

.dataTable thead tr th:nth-child(1),
.dataTable tbody tr td:nth-child(1) {
    border-left: none;
}

.dataTable thead tr th:last-child,
.dataTable tbody tr td:last-child {
    /*border-right: none;*/
    width: 10% !important;
    text-align: center !important;
}

tr .sorting {
    padding-right: 8px !important;
}

tr .sorting::before,
tr .sorting::after {
    display: none !important;
}

tr .sorting .data-tables-header-sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

tr .sorting .sort-icon {
    display: none;
}

tr .sorting .sort-icon-all {
    display: block;
}

tr .sorting_asc .sort-icon {
    display: none;
}

tr .sorting_asc .sort-icon-ascending {
    display: block;
}

tr .sorting_desc .sort-icon {
    display: none;
}

tr .sorting_desc .sort-icon-descending {
    display: block;
}


/*select2*/

:root .select2-container {
    --vz-choices-bg: var(--bg-white);
    --vz-choices-link-color: #212529;
    --vz-choices-link-hover-bg: #f3f6f9;
    --vz-choices-link-active-color: #1e2125
}

[data-layout-mode=dark] .select2-container {
    --vz-choices-bg: #292e33;
    --vz-choices-link-color: #adb5bd;
    --vz-choices-link-hover-bg: #2f343a;
    --vz-choices-link-active-color: #dbdde0
}

.select2.select2-container {
    width: 100% !important
}

.select2-container .select2-selection--single {
    border: 1px solid var(--vz-input-border);
    height: calc(1.5em + 1rem + 2px);
    background-color: var(--vz-input-bg);
    outline: 0
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px;
    color: #000000;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px
}

.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: var(--vz-input-border) transparent transparent transparent;
    border-width: 6px 6px 0 6px
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent var(--vz-input-border) transparent !important;
    border-width: 0 6px 6px 6px !important
}

.select2-results__option {
    padding: 6px 12px
}

.select2-dropdown {
    border: 0 solid var(--vz-border-color);
    -webkit-box-shadow: 0 1px 2px rgba(56, 65, 74, .15);
    box-shadow: 0 1px 2px rgba(56, 65, 74, .15);
    background-color: var(--vz-choices-bg);
    z-index: 1056
}

.select2-container--default .select2-results__option--selected {
    background-color: var(--vz-input-disabled-bg)
}

.select2-container--default .select2-search--dropdown {
    padding: 10px;
    background-color: var(--vz-choices-bg)
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: 0;
    border: 1px solid var(--vz-input-border);
    background-color: var(--vz-input-bg);
    color: var(--vz-body-color);
    border-radius: .25rem
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #405189
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: var(--vz-choices-bg);
    color: var(--vz-choices-link-active-color)
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
    background-color: #405189;
    color: var(--bg-white)
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--border-color) !important;
    margin-top: 4px !important;
    padding: 2px 8px !important;
    border-radius: 4px !important;
    color: var(--title-color) !important;
    font-weight: 400 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 36px;
    padding-right: 5px
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 1px;
    left: auto
}

.select2-container .select2-selection--multiple {
    min-height: 40px;
    background-color: var(--vz-input-bg)
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 1px 4px
}

.select2-container .select2-selection--multiple .select2-search__field {
    border: 0;
    color: var(--vz-body-color)
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #405189;
    border: none;
    color: var(--bg-white);
    border-radius: 3px;
    padding: 3px;
    margin-top: 6px
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove {
    color: #405189;
    border-color: #536295;
    top: 3px;
    float: right;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 900 !important;
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: var(--bg-white);
    background-color: #405189
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 7px;
}

.select2-container .select2-search textarea::-webkit-input-placeholder {
    color: #878a99
}

.select2-container .select2-search textarea::-moz-placeholder {
    color: #878a99
}

.select2-container .select2-search textarea:-ms-input-placeholder {
    color: #878a99
}

.select2-container .select2-search textarea::-ms-input-placeholder {
    color: #878a99
}

.select2-container .select2-search textarea::placeholder {
    color: #878a99
}

.select2-container--default.select2-container--disabled .select2-selection--multiple,
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: var(--vz-input-disabled-bg);
    cursor: default
}

.offcanvas_btn {
    border: none;
    background-color: var(--bg-white);
}

.modal {
    z-index: 1000 !important;
}

.modal-backdrop {
    z-index: 22 !important;
}

td .permission-list-badge {
    width: auto;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 8px 0 -20px 0;
    text-transform: capitalize;
}

td .permission-list-badge.for-delete {
    color: #FF1A1A;
    background-color: #FFEDED;
}

td .permission-list-badge.for-view {
    color: #CB0BEB;
    background-color: #FDEFFF;
}

td .permission-list-badge.for-edit {
    color: #0050C9;
    background-color: #ECF4FF;
}

td .permission-list-badge.for-create {
    color: #027A48;
    background-color: #ECFDF3;
}

td .permission-list-badge.for-list {
    color: var(--title-color);
    background-color: var(--border-color);
}

.offcanvas-header button {
    background-color: var(--bg-white) !important;
}

.card-title {
    color: var(--title-color);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px !important;
}

.offcanvas {
    border-radius: 8px 0 0 8px;
    padding: 10px 0 10px 0;
}

.offcanvas-body {
    padding: 5px 28px 10px 28px !important;
}

.offcanvas-header {
    padding: 20px 25px !important;
}

.offcanvas-body::-webkit-scrollbar {
    display: none;
}

.button-group {
    display: flex;
}

.button {
    padding: 7px 16px !important;
    border: 1px solid var(--border-color);
    text-decoration: none;
    border-radius: 8px;
    color: #1D2939;
    outline: none;
    background: none;
}

.button:hover {
    background-color: var(--button-bg);
    color: var(--border-color);
}

.button-group .button:nth-child(1) {
    border-radius: 8px 0 0 8px;
    border-right: none;
}

.button-group .button:nth-child(n+2) {
    border-right: none;
    border-radius: 0;
}

.button-group .button:nth-last-child(1) {
    border-radius: 0 8px 8px 0;
    border-right: 1px solid var(--border-color);
}

.filter-input-field {
    display: flex;
    padding: 10px 10px 32px 10px;
    justify-content: space-between;
}

.col-md-flex-column {
    flex-grow: 2;
    margin-right: 16px;
}

.col-md-flex-button {
    flex-grow: 0;
}

.btn-primary {
    background-color: var(--button-bg) !important;
    padding: 7px 16px !important;
    border: none;
}

.form-label {
    font-weight: 600;
}

.badge {
    border-radius: 0.20rem !important;
    padding: 5px !important;
    font-size: 0.9rem;
}

.badge-soft-info {
    color: #0050C9 !important;
    background: #ECF4FF !important;
}

.badge-soft-warning {
    color: var(--title-color) !important;
    background: var(--border-color) !important;
}

.badge-soft-success {
    color: #027A48 !important;
    background: #ECFDF3 !important;
}

.badge-soft-danger {
    color: #FF1A1A !important;
    background: #FFEDED !important;
}

.tree-leader .tree-item {
    position: relative;
}

.tree-leader .tree-item .tree-leader-before {
    content: " ";
    background-color: var(--button-bg);
    position: absolute;
}

.tree-leader .tree-item .before-y {
    width: 2px;
    top: 22px;
}

.tree-leader .tree-item .before-x {
    height: 2px;
    width: 50px;
    top: 50px;
}

.tree-member {
    position: relative;
}

.tree-member-before {
    content: " ";
    width: 2px !important;
    background-color: var(--button-bg);
    position: absolute;
    left: -20px !important;
    top: 36px;
}

.tree-member .tree-item {
    position: relative;
}

.tree-member .tree-item::before {
    content: " ";
    width: 30px !important;
    height: 2px;
    background-color: var(--button-bg);
    position: absolute;
    left: -31px !important;
    top: 11px;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.main-padding {
    padding: 1.5rem  1.5rem 100px 1.5rem !important;
    height: 100% !important;
    overflow: auto;
}

.modal_main_padding {
    padding: 3rem;
}

.milk_date {
    width: 25%;
}

@media only screen and (max-width: 700px) {
    .main-padding {
        padding: 0 0 100px !important;
    }

    .dataTables_filter {
        width: 100% !important;
    }

    .dataTables_filter label {
        padding: 0 !important;
        width: 100% !important;
        display: grid;
        place-items: center;
    }

    .dataTables_filter input[type=search] {
        width: 100% !important;
        height: 1.3rem !important;
        border-radius: 7px !important;
        text-indent: 25px !important;
        background: #fcfcfc no-repeat 3% 48%;
        margin: 0 !important;
    }

    .left-side.mobile-menu-open {
        box-shadow: 3px 4px 11px #797979b0;
    }

    .nav-link {
        font-size: 12px !important;
    }

    .medicine-grid-label {
        display: none !important;
    }

    div.dataTables_wrapper div.dataTables_filter label {
        width: 100%;
    }

    .add-new-button {
        height: 2rem !important;
        margin-top: 10px !important;
    }

    #myTable_filter label {
        width: 95% !important;
    }

    .dataTables_paginate {
        margin-top: -19px !important;
    }

    .footer {
        z-index: 999 !important;
    }

    .modal_main_padding {
        padding: 1.5rem !important;
    }

    .cm_row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .card-title {
        font-size: 18px !important;
        margin-bottom: 0 !important;
    }

    .disabled > .page-link, .page-link {
        font-size: 11px !important;
        padding: 6px;
        margin-top: 16px;
    }

    .dataTables_info {
        width: 100% !important;
    }

    /*.card-body{*/
    /*    overflow: hidden;*/
    /*}*/
    .cm-modal-size {
        max-width: 100% !important;
    }

    .milk_date {
        width: 100%;
    }
}

@media only screen and (max-width: 770px) {
    .dataTables_filter {
        width: 100% !important;
        float: left;
        display: block;
        margin-bottom: 10px;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    .dataTables_filter {
        padding-right: 16px !important;
        padding-left: 7px !important;
    }

    .dataTables_filter input[type=search] {
        width: 14rem !important;
        height: 1.3rem !important;
        border-radius: 7px !important;
        text-indent: 22px !important;
        background: #fcfcfc no-repeat 3% 48%;
    }

    .add-new-button {
        height: 2rem !important;
        background-color: var(--button-bg);
        margin-left: 10px;
        font-size: 12px !important;
        color: var(--bg-white-2);
    }

    .dataTables_wrapper .btn-group .btn-secondary {
        height: 2rem !important;
        font-size: 12px !important;
        margin-right: 10px;
    }

    table.table-bordered.dataTable thead tr:first-child th,
    table.table-bordered.dataTable thead tr:first-child td {
        border-top-width: 1px;
        font-size: 12px !important;
    }

    table.dataTable > tbody > tr {
        background-color: transparent;
        font-size: 12px !important;
    }

    .dataTables_info {
        font-size: 12px !important;
    }

    .disabled > .page-link,
    .page-link {
        font-size: 12px;
    }
}

table {
    border: 1px solid var(--border-color);
}

th,
td {
    padding: 5px 8px;
}

.title_name {
    font-size: 1.1vw;
}

[data-table="simpleDataTables"] {
    border: 1px solid var(--border-color);
}

[data-table="simpleDataTables"] tr th {
    background-color: var(--table-bg);
}

[data-table="simpleReportTable"] {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

[data-table="simpleReportTable"] tr th {
    background-color: var(--table-bg);
}

[data-table="simpleReportTable"] thead tr:nth-child(1) th:nth-child(1),
[data-table="simpleReportTable"] tbody tr td:nth-child(1) {
    border-left-color: transparent;
}

[data-table="simpleReportTable"] thead tr:nth-child(1) th:last-child,
[data-table="simpleReportTable"] tbody tr td:last-child {
    border-right-color: transparent;
}

.image-rounded {
    text-align: center;
    height: auto;
    width: 200px;
    border-radius: 5px;
    margin: 10px 10px 0 0;
    background-color: #eaecf0;
    padding: 5px;
}

.image-rounded img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.dropdown-menu li a:hover {
    background-color: var(--button-bg);
    color: var(--bg-white);
    transition: 500ms;
}

.skiptranslate {
    display: none;
    height: 0;
}

.goog-te-gadget {
    display: block;
    height: auto;
}

.goog-te-gadget span {
    display: none;
}

.right-side {
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 100%;
    background: #f9f9f9;
    z-index: 0;
    padding-top: 5px;
    color: #5bb318;
}

.left-side {
    z-index: 1;
}

.row-15 {
    width: 15% !important;
}

