//$active: #5bb318;
//$inActive: rgba(84, 91, 115, 0.99);
//$buttons: #009a75;
//$border: #dedddd;
//$sideBar: #F9F9F9;
//$contentBox: #fff;
//$header: #F9F9F9;
//$footer: #F9F9F9;

$active: #cea1a1;
$inActive: rgba(84, 91, 115, 0.99);
$buttons: #009a75;
$border: #dedddd;
$sideBar: #F9F9F9;
$contentBox: #fff;
$header: #F9F9F9;
$footer: #F9F9F9;
